* {
	display: flex; flex-wrap:wrap;
}

.row {
	width: 964px;
}

.col-6 img {
	text-align: left;
	width: 482px;
	max-width: 100%;
}

.col-6 {
	width: 482px;
}

.col-4 img {
	width: 311px;
	padding-right: 10px;
	max-width: 100%;
}

.col-10 {
	width: 964px;
	color: #c1cbd4;
	font-size: 28px;
}

.col-12 img {
	width: 964px;
	max-width: 100%;
}

h1 {
	text-align: right;
	width: 482px;
	font-family: Inconsolata;
	font-size: 36px;
	font-weight: normal;
}

h3 {
	text-align: right;
	width: 482px;
	font-size: 22px;
	font-weight: normal;
}

p {
	width: 311px;
	font-size: 18px;
	text-align: center;
	padding-right: 10px;
}

.style3 {
	font-size: 24px;
	width: 311px;
	padding-right: 10px;
}

@media only screen and (max-width: 250px) {
	* {display: flex; flex-wrap: nowrap;}
}